//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
//@theme "/usr/share/rofi/themes/slate.rasi"
//@theme "/usr/share/rofi/themes/merah.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "/usr/share/rofi/themes/sidebar.rasi"
//@theme "/usr/share/rofi/themes/arthur.rasi"
//@theme "/usr/share/rofi/themes/fancy.rasi"
//@theme "/usr/share/rofi/themes/Pop-Dark.rasi"
//@theme "/usr/share/rofi/themes/solarized_alternate.rasi"
//@theme "/usr/share/rofi/themes/Monokai.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
//@theme "/usr/share/rofi/themes/solarized.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
//@theme "/usr/share/rofi/themes/solarized_alternate.rasi"
//@theme "/usr/share/rofi/themes/solarized.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
